# git ignore file
*.user
*.suo
[Bb]in
.vs/
.vscode/
obj
_ReSharper*/
.release
160.patch
159.patch
*.orig
*.rej
[Ll]ogs
ContentBase
ViewsBase
packages
*/logs/*
securityLogs
1504.patch
Tools/EvrikaImport/Files
*/_UpgradeReport_Files/*
*/Backup/*
*UpgradeLog.*
Assemblies
.release*
Core/CI/packages
/*.sln
/*.sln.DotSettings
_UpgradeReport_Files/*
Deploy/Deploy/DBScripts/CommonConvertDB.sql
Partners/UI/Partner/Files
npm-debug.log*
yarn-error.log*
.eslintcache

/UnitTestResult/*.xml
/NUnit30Settings.xml
/testContract.xml
/startCassandra.lnk
/startElastic.lnk
commitlog/*
data/*
saved_caches/*
node_modules/
bower_components/
js-test-coverage
webpack-assets.json

**/Content/assets/
**/Content/compiledCss/
**/Content/prebuild/development

*idea/
Administration/UI/Support/Content/assets/*
**/.vs/**
MegaWithoutCI.Reserve.sln.DotSettings
*.iml
/Deploy/PsakeDeploy/Conf/dbConfig.xml
/Deploy/PsakeDeploy/Conf/topology.xml
StyleCop.Cache
/lastBuildWarnings.log
/Deploy/PsakeDeploy/BillyLocal/build.properties
/SharedPackages

*/WhatToDoNext.txt
/Your.Daddy.lnk
